services:
  backend:
    image: node:18
    working_dir: /app
    volumes:
      - ../apps/backend:/app
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"

  frontend:
    image: node:18
    working_dir: /app
    volumes:
      - ../apps/frontend:/app
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "5173:5173"
