name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Backend build
        working-directory: apps/backend
        run: |
          npm install
          node src/index.js & sleep 5

      - name: Frontend build
        working-directory: apps/frontend
        run: |
          npm install
          npm run dev -- --host & sleep 5
